<!doctype html>
<html lang="" ng-app="oad-app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nest Remix</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Web Starter Kit">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <!-- Page styles -->

    <link rel="stylesheet" href="/styles/main.css">

    <!-- Scripts -->

    <script src="/socket.io/socket.io.js"></script>
    
  </head>
  <body>
    <header class="app-bar promote-layer">
      <div class="app-bar-container">
        <h1 class="logo">Nest <strong>Remix </strong></h1>
        <section class="app-bar-actions">
        <!-- Put App Bar Buttons Here -->
        <!-- e.g <button><i class="icon icon-star"></i></button> -->
        </section>
      </div>
    </header>



    <main>
        <div class="g-wide--2 g-wide--last g-medium--half">
            <h1> Temperatura</h1>
        </div>
        <div class="g-wide--2 g-wide--last g-medium--half">
            <h1> <span class="temperatura"> - </span> </h1>
        </div>
      	<div class="g-wide--2 g-wide--last g-medium--half">
            <h1> Humedad</h1>
        </div>
        <div class="g-wide--2 g-wide--last g-medium--half">
            <h1> <span class="humedad"> - </span> </h1>
        </div>
        <div class="g-wide--2 g-wide--last g-medium--half">
            <h1> Presion</h1>
        </div>
        <div class="g-wide--2 g-wide--last g-medium--half">
            <h1> <span class="presion"> - </span> </h1>
        </div> 
         <div >
        <svg id="chart"></svg>
        </div>
        <div class="valor">
        </div>
    </main>

    <!-- build:js scripts/main.min.js -->

    <!-- endbuild -->

    <script src="/js/jquery.min.js"></script>
    <script src="/js/d3.min.js"></script>
    <script src="/js/ejemplo-2/app.js"></script>
    
 

    <!-- Built with love using Web Starter Kit -->
  </body>
</html>
